.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: red;
}
.dropdown:hover .dropdown-content{
     display: block;
}
.bg-light{
  background-color: #00FF00 !important;
}
.infor1{
  font-size: 20px;
  width: 100%;
  margin-left: 20px;
}
.button1 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #00FF00;
  border: none;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
}
.button1:hover {
  background-color: #205a99;
  color: black;
} 
.btn-outline-success{
  background-color: #00FF00 !important;
  color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-color: black !important;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
}
#navbarSupportedContent ul li a{
  border-right: 1px solid white !important;
}
.btn btn-info
{
  float: left;
}
.logo1{
  height: 100px;
  width: 89%;
}
.logo{
  width: 100%;
  display: flex;
}
.tieude{
  text-align: center;
}
.thongbao{
   width: 75%;
}
.thongbao1{
  width: 100%;
  height: 40px;
  background-color: #00FF00 ;
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  color: #0000EE;
margin-top: 30px;
}

.hinh1 img{
width: 120px;
height: auto;
float: left;
color: black;
margin-right: 30px;

}
.hinh11{

  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #0033FF;
}
.hinh{
  width: 25%;
}
.thongbao2
{
  float: left;
 width: 95%;
 height: 40px;
 background-color: #00FF00 ;
 margin-top: 30px;
 margin-right: 5px;
 font-size: 20px;
text-align: center;
  font-weight: bold;
  color: #0000EE;
}
.thongbaon
{
  width: 24%
}
.thongbao3
{
  width: 95%;
padding-right:5px;
padding-left: 5px; 
 float: left;
 background-color: #D3D3D3AF;
}
.thongtin{
  width: 100%;
  height: 150px;
 margin-top: 20px;
  background: #0071A6;

  color: white;
}
.btn-info
{
  background-color: #45B0B9FF!important;
  background-color: #45B0B9FF !important;
  color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-color: black !important;
  padding: 40px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  
}